.gradle
/build
.DS_Store
.idea
.vscode
*.iml
*.ipr
*.iws
/out
/target
/bin
.project
.settings
.classpath
.factorypath
.apt_generated
.apt_generated_test
.springBeans
.sts4-cache
/gradle-wrapper
!gradle-wrapper.jar
!gradle-wrapper.properties
/gradlew
/gradlew.bat
/src/*/resources/static/
/src/*/resources/public/
/src/*/resources/templates/
/src/*/resources/META-INF/
/src/*/resources/application.properties
/src/*/resources/application.yml
/src/*/resources/application.yaml
/src/*/resources/bootstrap.properties
/src/*/resources/bootstrap.yml
/src/*/resources/bootstrap.yaml
/src/*/resources/logback.xml
/src/*/resources/log4j2.xml
/src/*/resources/log4config.xml
/src/*/resources/ehcache.xml
/src/*/resources/messages*.properties
/src/*/resources/messages*.yml
/src/*/resources/messages*.yaml
/src/*/resources/banner.txt
/src/*/resources/schema.sql
/src/*/resources/data.sql
/src/*/resources/import.sql
/src/*/resources/test.properties
/src/*/resources/test.yml
/src/*/resources/test.yaml
/src/*/resources/application-*.properties
/src/*/resources/application-*.yml
/src/*/resources/application-*.yaml
/src/*/resources/application-local.properties
/src/*/resources/application-local.yml
/src/*/resources/application-local.yaml
/src/*/resources/application-dev.properties
/src/*/resources/application-dev.yml
/src/*/resources/application-dev.yaml
/src/*/resources/application-prod.properties
/src/*/resources/application-prod.yml
/src/*/resources/application-prod.yaml
/src/*/resources/application-test.properties
/src/*/resources/application-test.yml
/src/*/resources/application-test.yaml
/src/*/resources/application-docker.properties
/src/*/resources/application-docker.yml
/src/*/resources/application-docker.yaml
/src/*/resources/application-cloud.properties
/src/*/resources/application-cloud.yml
/src/*/resources/application-cloud.yaml
/src/*/resources/application-kubernetes.properties
/src/*/resources/application-kubernetes.yml
/src/*/resources/application-kubernetes.yaml
/src/*/resources/application-openshift.properties
/src/*/resources/application-openshift.yml
/src/*/resources/application-openshift.yaml
/src/*/resources/application-heroku.properties
/src/*/resources/application-heroku.yml
/src/*/resources/application-heroku.yaml
/src/*/resources/application-aws.properties
/src/*/resources/application-aws.yml
/src/*/resources/application-aws.yaml
/src/*/resources/application-azure.properties
/src/*/resources/application-azure.yml
/src/*/resources/application-azure.yaml
/src/*/resources/application-gcp.properties
/src/*/resources/application-gcp.yml
/src/*/resources/application-gcp.yaml
/src/*/resources/application-minikube.properties
/src/*/resources/application-minikube.yml
/src/*/resources/application-minikube.yaml
/src/*/resources/application-kind.properties
/src/*/resources/application-kind.yml
/src/*/resources/application-kind.yaml
/src/*/resources/application-local-docker.properties
/src/*/resources/application-local-docker.yml
/src/*/resources/application-local-docker.yaml
/src/*/resources/application-local-kubernetes.properties
/src/*/resources/application-local-kubernetes.yml
/src/*/resources/application-local-kubernetes.yaml
/src/*/resources/application-local-openshift.properties
/src/*/resources/application-local-openshift.yml
/src/*/resources/application-local-openshift.yaml
/src/*/resources/application-local-heroku.properties
/src/*/resources/application-local-heroku.yml
/src/*/resources/application-local-heroku.yaml
/src/*/resources/application-local-aws.properties
/src/*/resources/application-local-aws.yml
/src/*/resources/application-local-aws.yaml
/src/*/resources/application-local-azure.properties
/src/*/resources/resources/application-local-azure.yml
/src/*/resources/application-local-azure.yaml
/src/*/resources/application-local-gcp.properties
/src/*/resources/application-local-gcp.yml
/src/*/resources/application-local-gcp.yaml
/src/*/resources/application-local-minikube.properties
/src/*/resources/application-local-minikube.yml
/src/*/resources/application-local-minikube.yaml
/src/*/resources/application-local-kind.properties
/src/*/resources/application-local-kind.yml
/src/*/resources/application-local-kind.yaml
/src/*/resources/application-dev-docker.properties
/src/*/resources/application-dev-docker.yml
/src/*/resources/application-dev-docker.yaml
/src/*/resources/application-dev-kubernetes.properties
/src/*/resources/application-dev-kubernetes.yml
/src/*/resources/application-dev-kubernetes.yaml
/src/*/resources/application-dev-openshift.properties
/src/*/resources/application-dev-openshift.yml
/src/*/resources/application-dev-openshift.yaml
/src/*/resources/application-dev-heroku.properties
/src/*/resources/application-dev-heroku.yml
/src/*/resources/application-dev-heroku.yaml
/src/*/resources/application-dev-aws.properties
/src/*/resources/application-dev-aws.yml
/src/*/resources/application-dev-aws.yaml
/src/*/resources/application-dev-azure.properties
/src/*/resources/application-dev-azure.yml
/src/*/resources/application-dev-azure.yaml
/src/*/resources/application-dev-gcp.properties
/src/*/resources/application-dev-gcp.yml
/src/*/resources/application-dev-gcp.yaml
/src/*/resources/application-dev-minikube.properties
/src/*/resources/application-dev-minikube.yml
/src/*/resources/application-dev-minikube.yaml
/src/*/resources/application-dev-kind.properties
/src/*/resources/application-dev-kind.yml
/src/*/resources/application-dev-kind.yaml
/src/*/resources/application-prod-docker.properties
/src/*/resources/application-prod-docker.yml
/src/*/resources/application-prod-docker.yaml
/src/*/resources/application-prod-kubernetes.properties
/src/*/resources/application-prod-kubernetes.yml
/src/*/resources/application-prod-kubernetes.yaml
/src/*/resources/application-prod-openshift.properties
/src/*/resources/application-prod-openshift.yml
/src/*/resources/application-prod-openshift.yaml
/src/*/resources/application-prod-heroku.properties
/src/*/resources/application-prod-heroku.yml
/src/*/resources/application-prod-heroku.yaml
/src/*/resources/application-prod-aws.properties
/src/*/resources/application-prod-aws.yml
/src/*/resources/application-prod-aws.yaml
/src/*/resources/application-prod-azure.properties
/src/*/resources/application-prod-azure.yml
/src/*/resources/application-prod-azure.yaml
/src/*/resources/application-prod-gcp.properties
/src/*/resources/application-prod-gcp.yml
/src/*/resources/application-prod-gcp.yaml
/src/*/resources/application-prod-minikube.properties
/src/*/resources/application-prod-minikube.yml
/src/*/resources/application-prod-minikube.yaml
/src/*/resources/application-prod-kind.properties
/src/*/resources/application-prod-kind.yml
/src/*/resources/application-prod-kind.yaml
/src/*/resources/application-test-docker.properties
/src/*/resources/application-test-docker.yml
/src/*/resources/application-test-docker.yaml
/src/*/resources/application-test-kubernetes.properties
/src/*/resources/application-test-kubernetes.yml
/src/*/resources/application-test-kubernetes.yaml
/src/*/resources/application-test-openshift.properties
/src/*/resources/application-test-openshift.yml
/src/*/resources/application-test-openshift.yaml
/src/*/resources/application-test-heroku.properties
/src/*/resources/application-test-heroku.yml
/src/*/resources/application-test-heroku.yaml
/src/*/resources/application-test-aws.properties
/src/*/resources/application-test-aws.yml
/src/*/resources/application-test-aws.yaml
/src/*/resources/application-test-azure.properties
/src/*/resources/application-test-azure.yml
/src/*/resources/application-test-azure.yaml
/src/*/resources/application-test-gcp.properties
/src/*/resources/application-test-gcp.yml
/src/*/resources/application-test-gcp.yaml
/src/*/resources/application-test-minikube.properties
/src/*/resources/application-test-minikube.yml
/src/*/resources/application-test-minikube.yaml
/src/*/resources/application-test-kind.properties
/src/*/resources/application-test-kind.yml
/src/*/resources/application-test-kind.yaml
/src/*/resources/application-cloud-docker.properties
/src/*/resources/application-cloud-docker.yml
/src/*/resources/application-cloud-docker.yaml
/src/*/resources/application-cloud-kubernetes.properties
/src/*/resources/application-cloud-kubernetes.yml
/src/*/resources/application-cloud-kubernetes.yaml
/src/*/resources/application-cloud-openshift.properties
/src/*/resources/application-cloud-openshift.yml
/src/*/resources/application-cloud-openshift.yaml
/src/*/resources/application-cloud-heroku.properties
/src/*/resources/application-cloud-heroku.yml
/src/*/resources/application-cloud-heroku.yaml
/src/*/resources/application-cloud-aws.properties
/src/*/resources/application-cloud-aws.yml
/src/*/resources/application-cloud-aws.yaml
/src/*/resources/application-cloud-azure.properties
/src/*/resources/application-cloud-azure.yml
/src/*/resources/application-cloud-azure.yaml
/src/*/resources/application-cloud-gcp.properties
/src/*/resources/application-cloud-gcp.yml
/src/*/resources/application-cloud-gcp.yaml
/src/*/resources/application-cloud-minikube.properties
/src/*/resources/application-cloud-minikube.yml
/src/*/resources/application-cloud-minikube.yaml
/src/*/resources/application-cloud-kind.properties
/src/*/resources/application-cloud-kind.yml
/src/*/resources/application-cloud-kind.yaml
/src/*/resources/application-kubernetes-docker.properties
/src/*/resources/application-kubernetes-docker.yml
/src/*/resources/application-kubernetes-docker.yaml
/src/*/resources/application-kubernetes-kubernetes.properties
/src/*/resources/application-kubernetes-kubernetes.yml
/src/*/resources/application-kubernetes-kubernetes.yaml
/src/*/resources/application-kubernetes-openshift.properties
/src/*/resources/application-kubernetes-openshift.yml
/src/*/resources/application-kubernetes-openshift.yaml
/src/*/resources/application-kubernetes-heroku.properties
/src/*/resources/application-kubernetes-heroku.yml
/src/*/resources/application-kubernetes-heroku.yaml
/src/*/resources/application-kubernetes-aws.properties
/src/*/resources/application-kubernetes-aws.yml
/src/*/resources/application-kubernetes-aws.yaml
/src/*/resources/application-kubernetes-azure.properties
/src/*/resources/application-kubernetes-azure.yml
/src/*/resources/application-kubernetes-azure.yaml
/src/*/resources/application-kubernetes-gcp.properties
/src/*/resources/application-kubernetes-gcp.yml
/src/*/resources/application-kubernetes-gcp.yaml
/src/*/resources/application-kubernetes-minikube.properties
/src/*/resources/application-kubernetes-minikube.yml
/src/*/resources/application-kubernetes-minikube.yaml
/src/*/resources/application-kubernetes-kind.properties
/src/*/resources/application-kubernetes-kind.yml
/src/*/resources/application-kubernetes-kind.yaml
/src/*/resources/application-openshift-docker.properties
/src/*/resources/application-openshift-docker.yml
/src/*/resources/application-openshift-docker.yaml
/src/*/resources/application-openshift-kubernetes.properties
/src/*/resources/application-openshift-kubernetes.yml
/src/*/resources/application-openshift-kubernetes.yaml
/src/*/resources/application-openshift-openshift.properties
/src/*/resources/application-openshift-openshift.yml
/src/*/resources/application-openshift-openshift.yaml
/src/*/resources/application-openshift-heroku.properties
/src/*/resources/application-openshift-heroku.yml
/src/*/resources/application-openshift-heroku.yaml
/src/*/resources/application-openshift-aws.properties
/src/*/resources/application-openshift-aws.yml
/src/*/resources/application-openshift-aws.yaml
/src/*/resources/application-openshift-azure.properties
/src/*/resources/application-openshift-azure.yml
/src/*/resources/application-openshift-azure.yaml
/src/*/resources/application-openshift-gcp.properties
/src/*/resources/application-openshift-gcp.yml
/src/*/resources/application-openshift-gcp.yaml
/src/*/resources/application-openshift-minikube.properties
/src/*/resources/application-openshift-minikube.yml
/src/*/resources/application-openshift-minikube.yaml
/src/*/resources/application-openshift-kind.properties
/src/*/resources/application-openshift-kind.yml
/src/*/resources/application-openshift-kind.yaml
/src/*/resources/application-heroku-docker.properties
/src/*/resources/application-heroku-docker.yml
/src/*/resources/application-heroku-docker.yaml
/src/*/resources/application-heroku-kubernetes.properties
/src/*/resources/application-heroku-kubernetes.yml
/src/*/resources/application-heroku-kubernetes.yaml
/src/*/resources/application-heroku-openshift.properties
/src/*/resources/application-heroku-openshift.yml
/src/*/resources/application-heroku-openshift.yaml
/src/*/resources/application-heroku-heroku.properties
/src/*/resources/application-heroku-heroku.yml
/src/*/resources/application-heroku-heroku.yaml
/src/*/resources/application-heroku-aws.properties
/src/*/resources/application-heroku-aws.yml
/src/*/resources/application-heroku-aws.yaml
/src/*/resources/application-heroku-azure.properties
/src/*/resources/application-heroku-azure.yml
/src/*/resources/application-heroku-azure.yaml
/src/*/resources/application-heroku-gcp.properties
/src/*/resources/application-heroku-gcp.yml
/src/*/resources/application-heroku-gcp.yaml
/src/*/resources/application-heroku-minikube.properties
/src/*/resources/application-heroku-minikube.yml
/src/*/resources/application-heroku-minikube.yaml
/src/*/resources/application-heroku-kind.properties
/src/*/resources/application-heroku-kind.yml
/src/*/resources/application-heroku-kind.yaml
/src/*/resources/application-aws-docker.properties
/src/*/resources/application-aws-docker.yml
/src/*/resources/application-aws-docker.yaml
/src/*/resources/application-aws-kubernetes.properties
/src/*/resources/application-aws-kubernetes.yml
/src/*/resources/application-aws-kubernetes.yaml
/src/*/resources/application-aws-openshift.properties
/src/*/resources/application-aws-openshift.yml
/src/*/resources/application-aws-openshift.yaml
/src/*/resources/application-aws-heroku.properties
/src/*/resources/application-aws-heroku.yml
/src/*/resources/application-aws-heroku.yaml
/src/*/resources/application-aws-aws.properties
/src/*/resources/application-aws-aws.yml
/src/*/resources/application-aws-aws.yaml
/src/*/resources/application-aws-azure.properties
/src/*/resources/application-aws-azure.yml
/src/*/resources/application-aws-azure.yaml
/src/*/resources/application-aws-gcp.properties
/src/*/resources/application-aws-gcp.yml
/src/*/resources/application-aws-gcp.yaml
/src/*/resources/application-aws-minikube.properties
/src/*/resources/application-aws-minikube.yml
/src/*/resources/application-aws-minikube.yaml
/src/*/resources/application-aws-kind.properties
/src/*/resources/application-aws-kind.yml
/src/*/resources/application-aws-kind.yaml
/src/*/resources/application-azure-docker.properties
/src/*/resources/application-azure-docker.yml
/src/*/resources/application-azure-docker.yaml
/src/*/resources/application-azure-kubernetes.properties
/src/*/resources/application-azure-kubernetes.yml
/src/*/resources/application-azure-kubernetes.yaml
/src/*/resources/application-azure-openshift.properties
/src/*/resources/application-azure-openshift.yml
/src/*/resources/application-azure-openshift.yaml
/src/*/resources/application-azure-heroku.properties
/src/*/resources/application-azure-heroku.yml
/src/*/resources/application-azure-heroku.yaml
/src/*/resources/application-azure-aws.properties
/src/*/resources/application-azure-aws.yml
/src/*/resources/application-azure-aws.yaml
/src/*/resources/application-azure-azure.properties
/src/*/resources/application-azure-azure.yml
/src/*/resources/application-azure-azure.yaml
/src/*/resources/application-azure-gcp.properties
/src/*/resources/application-azure-gcp.yml
/src/*/resources/application-azure-gcp.yaml
/src/*/resources/application-azure-minikube.properties
/src/*/resources/application-azure-minikube.yml
/src/*/resources/application-azure-minikube.yaml
/src/*/resources/application-azure-kind.properties
/src/*/resources/application-azure-kind.yml
/src/*/resources/application-azure-kind.yaml
/src/*/resources/application-gcp-docker.properties
/src/*/resources/application-gcp-docker.yml
/src/*/resources/application-gcp-docker.yaml
/src/*/resources/application-gcp-kubernetes.properties
/src/*/resources/application-gcp-kubernetes.yml
/src/*/resources/application-gcp-kubernetes.yaml
/src/*/resources/application-gcp-openshift.properties
/src/*/resources/application-gcp-openshift.yml
/src/*/resources/application-gcp-openshift.yaml
/src/*/resources/application-gcp-heroku.properties
/src/*/resources/application-gcp-heroku.yml
/src/*/resources/application-gcp-heroku.yaml
/src/*/resources/application-gcp-aws.properties
/src/*/resources/application-gcp-aws.yml
/src/*/resources/application-gcp-aws.yaml
/src/*/resources/application-gcp-azure.properties
/src/*/resources/application-gcp-azure.yml
/src/*/resources/application-gcp-azure.yaml
/src/*/resources/application-gcp-gcp.properties
/src/*/resources/application-gcp-gcp.yml
/src/*/resources/application-gcp-gcp.yaml
/src/*/resources/application-gcp-minikube.properties
/src/*/resources/application-gcp-minikube.yml
/src/*/resources/application-gcp-minikube.yaml
/src/*/resources/application-gcp-kind.properties
/src/*/resources/application-gcp-kind.yml
/src/*/resources/application-gcp-kind.yaml
/src/*/resources/application-minikube-docker.properties
/src/*/resources/application-minikube-docker.yml
/src/*/resources/application-minikube-docker.yaml
/src/*/resources/application-minikube-kubernetes.properties
/src/*/resources/application-minikube-kubernetes.yml
/src/*/resources/application-minikube-kubernetes.yaml
/src/*/resources/application-minikube-openshift.properties
/src/*/resources/application-minikube-openshift.yml
/src/*/resources/application-minikube-openshift.yaml
/src/*/resources/application-minikube-heroku.properties
/src/*/resources/application-minikube-heroku.yml
/src/*/resources/application-minikube-heroku.yaml
/src/*/resources/application-minikube-aws.properties
/src/*/resources/application-minikube-aws.yml
/src/*/resources/application-minikube-aws.yaml
/src/*/resources/application-minikube-azure.properties
/src/*/resources/application-minikube-azure.yml
/src/*/resources/application-minikube-azure.yaml
/src/*/resources/application-minikube-gcp.properties
/src/*/resources/application-minikube-gcp.yml
/src/*/resources/application-minikube-gcp.yaml
/src/*/resources/application-minikube-minikube.properties
/src/*/resources/application-minikube-minikube.yml
/src/*/resources/application-minikube-minikube.yaml
/src/*/resources/application-minikube-kind.properties
/src/*/resources/application-minikube-kind.yml
/src/*/resources/application-minikube-kind.yaml
/src/*/resources/application-kind-docker.properties
/src/*/resources/application-kind-docker.yml
/src/*/resources/application-kind-docker.yaml
/src/*/resources/application-kind-kubernetes.properties
/src/*/resources/application-kind-kubernetes.yml
/src/*/resources/application-kind-kubernetes.yaml
/src/*/resources/application-kind-openshift.properties
/src/*/resources/application-kind-openshift.yml
/src/*/resources/application-kind-openshift.yaml
/src/*/resources/application-kind-heroku.properties
/src/*/resources/application-kind-heroku.yml
/src/*/resources/application-kind-heroku.yaml
/src/*/resources/application-kind-aws.properties
/src/*/resources/application-kind-aws.yml
/src/*/resources/application-kind-aws.yaml
/src/*/resources/application-kind-azure.properties
/src/*/resources/application-kind-azure.yml
/src/*/resources/application-kind-azure.yaml
/src/*/resources/application-kind-gcp.properties
/src/*/resources/application-kind-gcp.yml
/src/*/resources/application-kind-gcp.yaml
/src/*/resources/application-kind-minikube.properties
/src/*/resources/application-kind-minikube.yml
/src/*/resources/application-kind-minikube.yaml
/src/*/resources/application-kind-kind.properties
/src/*/resources/application-kind-kind.yml
/src/*/resources/application-kind-kind.yaml
/src/test/
src/test/java/
src/test/java/com/
src/test/java/com/example/
src/test/java/com/example/inventory/
src/test/java/com/example/inventory/ApplicationTest.java
</environment_details>
